filename: style.css
body, index.html, page2.html, page3.html, page4.html, page5.html, page6.html, page7.html, page8.html {
background-color: #4682B4;
font-family: Verdana, Georgia, Impact;
width: 800px;
margin: auto;
padding: 0;
box-sizing: border-box;
color: #F8F8FF;
}
#header{
width: auto;
padding: 1% 1% 1% 2%;
background-color: #4169E1;
box-shadow: 1px 3px 8px 1px black;
}
#header #title{
font-family: "Verdana";
font-size: 300%;
font-weight: lighter;
color: white;
text-decoration: none;
float: left;
}
logo.jpg{
  position: right;
  right: 50px;
  font-size: 32px;
  letter-spacing: 1.75px;
  font-weight: 444;
  text-decoration;
  outline: transparent;
}
menu{
color: white;
font-family: "Verdana";
text-decoration:none;
margin-left: 1%;
margin-right: 1%;
font-size: 150%;
}
button{
background-color: #4682B4;
width: 100%;
color: black;
padding: 20px;
margin: 10px 0px;
border: none;
cursor: pointer;
}
form {
border: 3px solid #4169E1;
}
input[type=text], input[type=password] {
width: 100%;
margin: 10px 0;
padding: 12px 20px;
display: inline-block;
border: 2px solid blue;
box-sizing: border-box;
}
button:hover {
opacity: 0.6;
}
container {
padding: 20px;
background-color: black;
}     
